spring:
  main:
    web-application-type: none
  datasource:
    hikari:
      data-source-properties:
        charSet: utf-8
      read-only: true
    username: ${JFSYNC_DBUSER:SYSDBA}
    password: ${JFSYNC_DBPASSWORD:masterkey}
    url: jdbc:firebirdsql:localhost:${JFSYNC_DBPATH:${user.home}\AppData\Local\Cenize\jFinanças Pessoal 2015\jfinancas.jfin}
  jpa:
    database-platform: org.hibernate.community.dialect.FirebirdDialect
    hibernate:
      ddl-auto: none
    show-sql: true
custom-config:
  app:
    userId: ${JFSYNC_ALEXA_USER_ID}
    tipoCtaCartao: ${JFSYNC_TIPO_CTA_CARTAO:Cartão de Crédito}
    tipoCtaSalario: ${JFSYNC_TIPO_CTA_SALARIO:Salário}
    somentePgInicial: ${JFSYNC_APENAS_PG_INI:false}
    somentePrevFinanceira: ${JFSYNC_APENAS_PREV_FIN:false}
    somenteCtaMovimentacao: ${JFSYNC_APENAS_CTA_MOV:false}
  aws:
    region: ${JFSYNC_AWS_REGION:${AWS_REGION:${AWS_DEFAULT_REGION}}}
    accessKeyId: ${JFSYNC_AWS_ACCESS_KEY_ID:${AWS_ACCESS_KEY_ID}}
    secretAccessKey: ${JFSYNC_AWS_SECRET_ACCESS_KEY:${AWS_SECRET_ACCESS_KEY}}
